@tailwind base;
@tailwind components;
@tailwind utilities;

.bounce {
  animation: bounce 3s infinite;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent;
}

.input {
  border: 2px solid transparent;
  width: 15em;
  height: 2.5em;
  padding: 0 0.8em;
  outline: none;
  overflow: hidden;
  background-color: #f3f3f3;
  border-radius: 10px;
  transition: all 0.5s;
}

.input:hover,
.input:focus {
  border: 2px solid #4a9dec;
  box-shadow: 0px 0px 0px 7px rgb(74, 157, 236, 20%);
  background-color: white;
}


.white {
  --svg-color: rgb(0, 0, 0);
  --opposite-svg-color: rgb(255, 255, 255);
  --mob-nav-bg: 29, 41, 57;
  --mob-nav-link: 255, 255, 255;
  --primary-color: 255, 255, 255;
  --secondary-color: 29, 41, 57;
  --background: 255, 255, 255;
  --primary-text: 0, 0, 0;
  --primary-text-hover: 255, 255, 255;
  --primary-button-text: 255, 255, 255;
  --primary-button-bg: 29, 41, 57;
  --primary-heading-color: 1, 30, 247;
  --secondary-heading-color: 0, 0, 0;
  --submit-button: 24, 73, 169;
  --article-button: 125, 80, 255;
  --article-neutral-button: 24, 119, 242;
  --footer-bg: 12, 30, 165;
  --buy-color: 0, 171, 48;
  --sell-color: 235, 0, 27;
  --theme-color: light;
  --alerts-bg: 119,222,182;
}

.dark {
  --opposite-svg-color: rgb(0, 0, 0);
  --svg-color: rgb(255, 255, 255);
  --primary-color:  0, 0, 0;
  --mob-nav-bg: 0, 0, 0;
  --mob-nav-link: 255, 255, 255;
  --secondary-color: 255, 255, 255;
  --background: 32, 32, 32;
  --primary-text: 245, 245, 245;
  --primary-text-hover: 0, 0, 0;
  --primary-button-text: 0, 0, 0;
  --primary-button-bg: 245, 245, 245;
  --primary-heading-color: 1, 30, 247;
  --secondary-heading-color: 0, 0, 0;
  --submit-button: 24, 73, 169;
  --article-button: 125, 80, 255;
  --article-neutral-button: 24, 119, 242;
  --footer-bg: 32,32,32;
  --buy-color: 0, 171, 48;
  --sell-color: 235, 0, 27;
  --theme-color: dark;
  --alerts-bg: 119,222,182;
}

.moon {
  fill: #070D3F;
}

@media(max-width:1023px) {
  .moon {
    fill: white;
  }
}


/**
* @license
*
* Font Family: General Sans
* Designed by: Frode Helland
* URL: https://www.fontshare.com/fonts/general-sans
* © 2024 Indian Type Foundry
*
* General Sans Extralight 
* General Sans ExtralightItalic 
* General Sans Light 
* General Sans LightItalic 
* General Sans Regular 
* General Sans Italic 
* General Sans Medium 
* General Sans MediumItalic 
* General Sans Semibold 
* General Sans SemiboldItalic 
* General Sans Bold 
* General Sans BoldItalic 
* General Sans Variable (Variable font)
* General Sans VariableItalic (Variable font)

*
*/
@font-face {
  font-family: 'GeneralSans-Extralight';
  src: url('/fonts/GeneralSans-Extralight.woff2') format('woff2'),
      url('/fonts/GeneralSans-Extralight.woff') format('woff'),
      url('/fonts/GeneralSans-Extralight.ttf') format('truetype');
  font-weight: 200;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'GeneralSans-ExtralightItalic';
  src: url('/fonts/GeneralSans-ExtralightItalic.woff2') format('woff2'),
      url('/fonts/GeneralSans-ExtralightItalic.woff') format('woff'),
      url('/fonts/GeneralSans-ExtralightItalic.ttf') format('truetype');
  font-weight: 200;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: 'GeneralSans-Light';
  src: url('/fonts/GeneralSans-Light.woff2') format('woff2'),
      url('/fonts/GeneralSans-Light.woff') format('woff'),
      url('/fonts/GeneralSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'GeneralSans-LightItalic';
  src: url('/fonts/GeneralSans-LightItalic.woff2') format('woff2'),
      url('/fonts/GeneralSans-LightItalic.woff') format('woff'),
      url('/fonts/GeneralSans-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: 'GeneralSans-Regular';
  src: url('/fonts/GeneralSans-Regular.woff2') format('woff2'),
      url('/fonts/GeneralSans-Regular.woff') format('woff'),
      url('/fonts/GeneralSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'GeneralSans-Italic';
  src: url('/fonts/GeneralSans-Italic.woff2') format('woff2'),
      url('/fonts/GeneralSans-Italic.woff') format('woff'),
      url('/fonts/GeneralSans-Italic.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: 'GeneralSans-Medium';
  src: url('/fonts/GeneralSans-Medium.woff2') format('woff2'),
      url('/fonts/GeneralSans-Medium.woff') format('woff'),
      url('/fonts/GeneralSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'GeneralSans-MediumItalic';
  src: url('/fonts/GeneralSans-MediumItalic.woff2') format('woff2'),
      url('/fonts/GeneralSans-MediumItalic.woff') format('woff'),
      url('/fonts/GeneralSans-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: 'GeneralSans-Semibold';
  src: url('/fonts/GeneralSans-Semibold.woff2') format('woff2'),
      url('/fonts/GeneralSans-Semibold.woff') format('woff'),
      url('/fonts/GeneralSans-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'GeneralSans-SemiboldItalic';
  src: url('/fonts/GeneralSans-SemiboldItalic.woff2') format('woff2'),
      url('/fonts/GeneralSans-SemiboldItalic.woff') format('woff'),
      url('/fonts/GeneralSans-SemiboldItalic.ttf') format('truetype');
  font-weight: 600;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: 'GeneralSans-Bold';
  src: url('/fonts/GeneralSans-Bold.woff2') format('woff2'),
      url('/fonts/GeneralSans-Bold.woff') format('woff'),
      url('/fonts/GeneralSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'GeneralSans-BoldItalic';
  src: url('/fonts/GeneralSans-BoldItalic.woff2') format('woff2'),
      url('/fonts/GeneralSans-BoldItalic.woff') format('woff'),
      url('/fonts/GeneralSans-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
  font-style: italic;
}
/**
* This is a variable font
* You can control variable axes as shown below:
* font-variation-settings: wght 700.0;
*
* available axes:
'wght' (range from 200.0 to 700.0
*/
@font-face {
  font-family: 'GeneralSans-Variable';
  src: url('/fonts/GeneralSans-Variable.woff2') format('woff2'),
      url('/fonts/GeneralSans-Variable.woff') format('woff'),
      url('/fonts/GeneralSans-Variable.ttf') format('truetype');
  font-weight: 200 700;
  font-display: swap;
  font-style: normal;
}
/**
* This is a variable font
* You can control variable axes as shown below:
* font-variation-settings: wght 700.0;
*
* available axes:
'wght' (range from 200.0 to 700.0
*/
@font-face {
  font-family: 'GeneralSans-VariableItalic';
  src:  url('/fonts/GeneralSans-VariableItalic.woff2') format('woff2'),
        url('/fonts/GeneralSans-VariableItalic.woff') format('woff'),
        url('/fonts/GeneralSans-VariableItalic.ttf') format('truetype');
  font-weight: 200 700;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: 'Montserrat-semi';
  src: url('/fonts/Montserrat-SemiBold.ttf') format('truetype');
  font-weight: 600 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat-regular';
  src: url('/fonts/Montserrat-Regular.ttf') format('truetype');
  font-weight: 600 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat-Medium';
  src: url('/fonts/Montserrat-Medium.ttf') format('truetype');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat-bold';
  src: url('/fonts/Montserrat-Bold.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat-mi';
  src: url('/fonts/Montserrat-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
/* Example custom styles for scrollbar */
.scrollbar-thin::-webkit-scrollbar {
  width: 6px;
  height:6px;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: rgba(107, 114, 128, 0.4); /* Initial gray */
  border-radius: 9999px; /* Full rounded corners */
}

.scrollbar-thin:hover::-webkit-scrollbar-thumb {
  background-color: rgba(107, 114, 128, 0.6); /* Darker gray on hover */
}

.scrollbar-thin::-webkit-scrollbar-track {
  background: var(--background); /* Transparent track like macOS */
  /* border: 1px solid rgba(0, 0, 0, 0.2); */
}

/* --------Fallback UI---------- */

/* From Uiverse.io by vk-uiux */ 
.card {
  width: 100%;
  text-align: center;
}

.card__skeleton {
  background-image: linear-gradient(
		90deg,
		#cccccc86 0px,
		rgba(236, 236, 236, 0.9) 40px,
		#cccccc86 80px
	);
  background-size: 300%;
  background-position: 100% 0;
  animation: shimmer 1s infinite alternate-reverse;
}

.card__title {
  height: 20px;
}

.card__description {
  height: 150px;
}

@keyframes shimmer {
  to {
    background-position: -100% 0;
  }
  /* from {
    opacity: 1;
  }
  to {
    opacity: .5;
  } */
}


/* styles/MarkdownStyles.css */
.markdown h1,
.markdown h2,
.markdown h3
.markdown h4 {
  color: var(--primary-text); /* Optional: To make the text stand out */
}

.markdown h1 {
  font-size: 2.2rem; /* Larger font size for h1 */
  font-weight: 900;
  margin-bottom: 24px;
}

.markdown h2 {
  font-size: 1.9rem; /* Adjust as needed */
  font-weight: 700;
  margin-bottom: 10px;
}

.markdown h3 {
  font-size: 1.6rem; /* Adjust as needed */
  font-weight: 600;
  margin-bottom: 5px;
}

.markdown h4 {
  font-size: 1.4rem; /* Adjust as needed */
  font-weight: 500;
  margin-bottom: 5px;
}

.markdown p {
  font-size: 1.1rem;
  list-style: 120%;
  margin-bottom: 10px;
  opacity: .6;
  color: var(--primary-text);
}

.markdown ul {
  padding: 2rem 0 2rem 2rem;
  list-style-type: disc;
  color: var(--primary-text);
}

.markdown ol {
  padding: 2rem 0 2rem 2rem;
  list-style-type: decimal;
  color: var(--primary-text);
}

.markdown li {
  font-size: 1rem;
  opacity: 1;
  font-weight: 400;
  color: var(--primary-text);
}

.markdown a {
  text-decoration: underline;
  color: rgb(1, 86, 255);
}

.markdown {
  overflow-x: auto;
}

.markdown pre {
  background-color: rgb(245, 242, 240);
  padding: 0px;
  border-radius: 2rem;
  /* overflow-x: auto; */
  color: #f8f8f2; /* Light text color for dark background */
  margin: 16px 0;
}

.markdown code {
  padding: 6px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1rem;
}

/* Optional inline code styling */
.markdown p code {
  background: rgba(0, 0, 0, 0.2);
  padding: 2px 6px;
  border-radius: 4px;
  font-size: 0.95rem;
}

/* Loader Css */


/* From Uiverse.io by mobinkakei */ 
#wifi-loader {
  --background: #62abff;
  --front-color: #4f29f0;
  --back-color: #c3c8de;
  --text-color: #414856;
  width: 64px;
  height: 64px;
  border-radius: 50px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#wifi-loader svg {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

#wifi-loader svg circle {
  position: absolute;
  fill: none;
  stroke-width: 6px;
  stroke-linecap: round;
  stroke-linejoin: round;
  transform: rotate(-100deg);
  transform-origin: center;
}

#wifi-loader svg circle.back {
  stroke: var(--back-color);
}

#wifi-loader svg circle.front {
  stroke: var(--front-color);
}

#wifi-loader svg.circle-outer {
  height: 86px;
  width: 86px;
}

#wifi-loader svg.circle-outer circle {
  stroke-dasharray: 62.75 188.25;
}

#wifi-loader svg.circle-outer circle.back {
  animation: circle-outer135 1.8s ease infinite 0.3s;
}

#wifi-loader svg.circle-outer circle.front {
  animation: circle-outer135 1.8s ease infinite 0.15s;
}

#wifi-loader svg.circle-middle {
  height: 60px;
  width: 60px;
}

#wifi-loader svg.circle-middle circle {
  stroke-dasharray: 42.5 127.5;
}

#wifi-loader svg.circle-middle circle.back {
  animation: circle-middle6123 1.8s ease infinite 0.25s;
}

#wifi-loader svg.circle-middle circle.front {
  animation: circle-middle6123 1.8s ease infinite 0.1s;
}

#wifi-loader svg.circle-inner {
  height: 34px;
  width: 34px;
}

#wifi-loader svg.circle-inner circle {
  stroke-dasharray: 22 66;
}

#wifi-loader svg.circle-inner circle.back {
  animation: circle-inner162 1.8s ease infinite 0.2s;
}

#wifi-loader svg.circle-inner circle.front {
  animation: circle-inner162 1.8s ease infinite 0.05s;
}

#wifi-loader .text {
  position: absolute;
  bottom: -40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: lowercase;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.2px;
}

#wifi-loader .text::before, #wifi-loader .text::after {
  content: attr(data-text);
}

#wifi-loader .text::before {
  color: var(--text-color);
}

#wifi-loader .text::after {
  color: var(--front-color);
  animation: text-animation76 3.6s ease infinite;
  position: absolute;
  left: 0;
}

@keyframes circle-outer135 {
  0% {
    stroke-dashoffset: 25;
  }

  25% {
    stroke-dashoffset: 0;
  }

  65% {
    stroke-dashoffset: 301;
  }

  80% {
    stroke-dashoffset: 276;
  }

  100% {
    stroke-dashoffset: 276;
  }
}

@keyframes circle-middle6123 {
  0% {
    stroke-dashoffset: 17;
  }

  25% {
    stroke-dashoffset: 0;
  }

  65% {
    stroke-dashoffset: 204;
  }

  80% {
    stroke-dashoffset: 187;
  }

  100% {
    stroke-dashoffset: 187;
  }
}

@keyframes circle-inner162 {
  0% {
    stroke-dashoffset: 9;
  }

  25% {
    stroke-dashoffset: 0;
  }

  65% {
    stroke-dashoffset: 106;
  }

  80% {
    stroke-dashoffset: 97;
  }

  100% {
    stroke-dashoffset: 97;
  }
}

@keyframes text-animation76 {
  0% {
    clip-path: inset(0 100% 0 0);
  }

  50% {
    clip-path: inset(0);
  }

  100% {
    clip-path: inset(0 0 0 100%);
  }
}


/* ChatGpt response Loader */

/* From Uiverse.io by kennyotsu */ 

.loader {
  color: rgb(124, 124, 124);
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: flex-start;
}

.words {
  overflow: hidden;
  position: relative;
}
.words::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    var(--bg-color) 10%,
    transparent 30%,
    transparent 70%,
    var(--bg-color) 90%
  );
  z-index: 20;
}

.word {
  display: block;
  height: 100%;
  padding-left: 6px;
  color: #956afa;
  animation: spin_4991 15s infinite;
}
.tick-list{
  list-style: url(/images/tick.png);
}
.clippy-1{
  clip-path: polygon(0 0, 100% 0, 100% 93%, 50% 100%, 0 93%);
}
@keyframes spin_4991 {
  10% {
    -webkit-transform: translateY(-102%);
    transform: translateY(-102%);
  }

  25% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }

  35% {
    -webkit-transform: translateY(-202%);
    transform: translateY(-202%);
  }

  50% {
    -webkit-transform: translateY(-200%);
    transform: translateY(-200%);
  }

  60% {
    -webkit-transform: translateY(-302%);
    transform: translateY(-302%);
  }

  75% {
    -webkit-transform: translateY(-300%);
    transform: translateY(-300%);
  }

  85% {
    -webkit-transform: translateY(-402%);
    transform: translateY(-402%);
  }

  100% {
    -webkit-transform: translateY(-400%);
    transform: translateY(-400%);
  }
}

/* stockpicks page css */

.stroke-1{
  -webkit-text-stroke: 2px #272727;
}
.swiper-slide{
  padding-left: 8rem;
}
.swiper-pagination {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  right: calc(100% - 40px) !important;
  top: 50% !important;
}
.swiper-pagination:after {
  position: absolute;
  left: 9px;
  top: -60%;
  content: '';
  height :200%;
  width: 2px;
  background:#BBBBBB;
  z-index: -1;
}
.swiper-pagination-bullet {
  width: 20px !important;
  height: 20px !important;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  border: 5px solid #0A84EF;
  opacity: 1 !important;
  background: transparent !important;
}
.swiper-pagination-bullet-active {
  width: 15px !important;
  height: 15px !important;
  color: #fff;
  margin-left: 2.5px !important;
  background: #0A84EF !important;
  animation: pulse-animation 2s infinite forwards;
}
@keyframes pulse-animation {
  0% {
    box-shadow: 0px 0px 0px 0px #0A84EF;
  }
  100% {
    box-shadow: 0px 0px 20px 5px rgba(28, 123, 233, 0);
  }
  
}
@media (max-width:768px) {
  .swiper-slide{
    padding-left: 3rem;
  }
  .swiper-pagination {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    right: calc(100% - 25px) !important;
    top: 32% !important;
  }
}
